body {
	background-color: #ffffff;
	font-family: Georgia,"Tiems New Roman", Times, serif;
	font-size: 15px;
	color: #777777;
	padding: 0px;
	margin: 0px;
}

header {
	background-color: #ffffff;
	font-family: Georgia,"Tiems New Roman", Times, serif;
}

a {
	color: #777777;
	font-family: Georgia,"Tiems New Roman", Times, serif;
	height: 100%
	width: 33%;
}

footer {
	background: gray;
	padding: 20px;
  	clear: both;
  	text-align: center;
  	border-style: solid;
  	border-color: teal;
	border-width: 3px;
	color: lightgray;
}

li {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 35px;
	text-align: left;
	margin:5px auto;
	color:#4aaaa5;
}
h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	margin:5px auto;
	color:#4aaaa5;
}

.Andy {
	padding-left: 25px;
	padding-right: 25px;
}

.container {
	padding-top: 125px;
	width: 960px;
 	margin: 0 auto;
 	}

.images {
 	float: left;
 	margin-right:15px;
 	}

#blank {
	width: 16.5%;
	padding: 20px 0;
	margin: 0 auto;
 	margin-bottom: 20px;
	font-size: 70px;
	color: #0c0c0c;
	text-align: center;
	background: #ffffff;
	height: 70px;
	float: left;
  	}

 #name {
	width: 32%;
	padding: 20px 0;
	margin: 0 auto;
 	margin-bottom: 20px;
	font-size: 55px;
	color: #ffffff;
	text-align: center;
	background: teal;
	height: 70px;
	float: left;
}

#info {
	
	width: 51.5%;
	float: left;
	background: #ffffff;
	height: 110px;
	text-align: center;
	font-size: 25px;
	margin: 0 auto;	
}

#main-bio,
#contact-info,
#profpic {
	float: left;
	text-align: left;
	background: white;
	margin:0 auto;
	width: 270px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#main-bio {
	width: 650px;
	margin: 0 auto;
	margin-bottom: 25px;
}

#contact-info {
  	width: 270px;
  	float: right; 	
}

#profpic {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	margin-top: 5px;
}

@media screen and (max-width: 980px) {
	body: {
		background-color: #ffffff;
	}

}

@media and (max-width: 768px) {
	body: {
		background-color: #ffffff;
	}

}

@media and (max-width: 640px) {
	body: {
		background-color: #ffffff;
	}
	
	#name,
	header {
		position: static;
		width: 100%;
	}

}